*.pyc
*.o
*.so
*.c
*.html
*.bp
*.prof
*.7z
results/
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/
3d_results/
profiling_thb.py
hypergraph.ipynb
*.txt
THBSplines/src/thbsplines/tests.ipynb
solving_withBSplines.py
solving_with_BSplines_1d.ipynb
solving_with_THB.py
solving_with_THBSplines_1d.ipynb
environment.yml